<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="description" content="Start your development with a Dashboard for Node.js.">
<meta name="author" content="Creative Tim">
<title>@ViewBag.Title</title>
<!-- Favicon -->
<link href="~/Content/img/brand/favicon.png" rel="icon" type="image/png">

@Html.Partial("_OpenGraph")